<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-Up</title>
    <!-- <link rel="stylesheet" href="/css/site.css" try to create your own CSS> -->
</head>

<body>

    <main> 
        <form class="product-form" action="/api/signup" method="POST">
            <div class="form-control mx auto" style="width: 200px;">
                <label for="name">Account Name</label>
                <input type="text" name="accountName" id="accountName">
                <br></br>
                <label for="name">Account Number</label>
                <input type="text" name="accountNumber" id="accountNumber">
                <br></br>
                <label for="name">Account Holder</label>
                <input type="text" name="accountHolder" id="accountHolder">
                <br></br>
                <label for="email">Email</label>
                <br>
                <input type="text" name="email" id="email">
                <br></br>
                <select id="accountType" name="accountType">
                    <option value="Checking" selected>
                    Checking
                      </option>
                      <option value="Savings">Savings</option>
                    </select>  
                    <br>                   
                <label for="password">Password:</label>
                <input type="text" name="password" id="password">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="text" name="confirmPassword" id="confirmPassword">
            </div>

            <button class="btn" type="submit">Sign-Up</button>
        </form>
    </main>
</body>
</html>